# Ignore all JSON files
/code/output/*.json
*.json

# Ignore all CSV files
code/output/*.csv
*.csv

code/output/img/*.png


# Python-related files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
*.venv
env/
*.env

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
.aider*
.checkpoint.json
code/.checkpoint.json

output/*